@import url('login.css');
@import url('background.css');
@import url('clock.css');
@import url('todo.css');
@import url('quote.css');
@import url('topMenu.css');

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blacksword';
  src: url('../css/font/Blacksword.otf') format('truetype');
}

:root {
  --font-size-title: 3rem;
  --font-size-subtitle: 2rem;
  --font-size-middle: 1.5rem;
  --font-size-small: 1rem;
}

* {
  margin: 0;
  padding: 0;
}
